
{% extends 'header.html' %}
{% load static %}
{% block content %}
<div id="container">
    <aside>
        <a href="#">오늘의 뉴스</a>
        <a href="#">인기 글</a>
        <a href="#">질병 정보</a>
        <a href="#">개</a>
        <a href="#">고양이</a>
    </aside>
    <main>
        <button type="button">
            <a href="{%url 'news_register'%}">글 추가하기</a>
        </button>
        <div>
            {%for fnews in news%}
            <article>
                <a href="{%url 'news_detail' fnews.id%}">
                    <p><img src="{{fnews.image.url}}" alt=""></p>
                    <h3>{{fnews.title}}</h3>
                    <div>
                        {{fnews.summary}}
                    </div>
                </a> 
                <h5>{{fnews.writer}}</h5>
                <h5>{{fnews.date}}</h5>
            </article>
            {%endfor%}
        </div>
    </main>
</div>

{% endblock %}